@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

/* ---- General Styles ---- */
html {
  background: url(../styles/src_img/background.png) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  z-index: 0;
}

#main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page-break {
  width: 100%;
  height: 15px;
  display: flex;
  flex-direction: column;
}

.break-one {
  width: 100%;
  height: 10px;
  background-color: #a18276;
}

.break-two {
  width: 100%;
  height: 5px;
  background-color: #736372;
}

.page-break-vertical {
  display: flex;
  height: auto;
  width: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.break-one-vertical {
  height: 100%;
  width: 2.5px;
  background-color: #a18276;
}

.break-two-vertical {
  height: 100%;
  width: 5px;
  background-color: #736372;
}

.strong-text {
  font-weight: bold;
}

/* ---- ---- ---- ---- */

/* ---- Nav Bar Styles ---- */
#nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  background-color: #dceed1;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  width: Calc(100% - 20px);
  height: 100%;
}

#nav-drop-down,
#drop-down-button {
  display: none;
}

#nav-bar-img-wrapper {
  height: 100%;
  width: 50px;
  margin-left: 20px;
}

.logo-small {
  width: 90%;
  height: 90%;
}

#contact-info {
  text-align: center;
}

.link,
#apply-button,
.title,
.button-text {
  font-family: cabin sketch;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  color: #736372;
}

.clicked-link {
  font-family: cabin sketch;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 #dceed1, inset 0 -3px 0 #153243;
  color: #153243;
}

.link:hover,
#apply-button:hover {
  color: #153243;
  cursor: pointer;
}

#main-links {
  display: flex;
  width: 40%;
  min-width: 600px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

#apply-link {
  display: flex;
  margin-right: 10px;
  height: 100%;
  align-items: center;
}

/* ---- ---- ---- ---- */

/* ---- Home Page Styles ---- */

#home,
#handbook {
  height: Calc(100vh - 155px);
  width: 100%;
}

#home-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#home-img-wrapper {
  display: flex;
  align-items: center;
  width: 30%;
  min-width: 400px;
  height: Calc(100vh - 170px);
}

.logo-large {
  width: 100%;
  height: auto;
}

#home-text {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 55%;
  height: fit-content;
  max-height: 500px;
  padding: 25px;
  border: 5px solid #736372;
  background-color: rgb(250, 250, 250, 0.5);
  margin-right: 20px;
  text-align: justify;
}

#home-text::-webkit-scrollbar {
  display: none;
}

.philosophy,
.footer-text {
  font-family: itim;
  font-size: 1.5rem;
}

/* ---- ---- ---- ---- */

/* ---- Footer Styles ---- */

#footer {
  position: fixed;
  width: 100%;
  height: 500px;
  background-color: #dceed1;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-docked {
  bottom: -420px;
}

.footer-open {
  bottom: 0;
}

#footer-control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  overflow: hidden;
  align-items: flex-start;
}

#apply-button {
  margin: 0 20px 0 0;
}

.footer-text {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  transition: all 0.5s ease;
}

.full-opacity {
  opacity: 1;
}

.no-opacity {
  opacity: 0%;
}

.footer-title {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

/* ---- ---- ---- ---- */

/* ---- Form Styles ---- */

#footer-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 80%;
}

#footer-form {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 75%;
}

#form-left {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#form-right {
  height: 100%;
  width: 60%;
}

label {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: itim;
  font-size: 1.5rem;
}

.form-input-left {
  width: 100%;
  font-family: itim;
  text-align: center;
}

.label-right {
  height: 100%;
}

.form-input-right {
  width: 100%;
}

textarea {
  resize: none;
  font-family: itim;
  height: 100%;
  font-size: 1.5rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

#form-submit {
  font-family: cabin sketch;
  font-size: 2rem;
  font-weight: 700;
  color: #dceed1;
  background-color: #a18276;
  border: 3px solid #153243;
  border-radius: 10px;
}

#form-submit:hover {
  background-color: #736372;
  cursor: pointer;
}

/* ---- ---- ---- ---- */

/* ---- Handbook Styles ---- */

#handbook-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#handbook-text-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 80%;
  min-width: 600px;
  height: 60vh;
  padding: 25px;
  border: 5px solid #736372;
  background-color: rgb(250, 250, 250, 0.5);
  margin-right: 20px;
  text-align: justify;
}

.handbook-text,
.handbook-list {
  font-family: itim;
}

/* ---- ---- ---- ---- */

/* ---- PhotoTour Styles ---- */

#photo-tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: Calc(100vh - 170px);
}

.photo-carousel-container {
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  max-height: 700px;
  width: 75vw;
  padding: 20px;
  border: 5px solid #736372;
  background-color: rgb(250, 250, 250, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.photo-scroll-div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---- ---- ---- ---- */

/* ---- Carousel Styles ---- */

.carousel {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  height: auto;
  width: 100%;
}

.carousel-scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: auto;
  height: auto;
  max-height: 480px;
}

.horizontal-scroll {
  display: flex;
  flex-direction: column;
}

.display-photo-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 65%;
  max-width: 640px;
  height: auto;
  margin-left: 10px;
}

.display-photo {
  width: 100%;
  height: auto;
  max-width: 640px;
  max-height: 480px;
}

.thumb-wrapper {
  width: 100px;
  height: 100px;
  border: 5px solid #736372;
  margin: 5px;
}

.thumb {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}

.thumb:hover {
  cursor: pointer;
  filter: sepia(75%);
}
/* ---- ---- ---- ---- */

/* ---- Resources Styles ---- */

#resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: Calc(100vh - 170px);
}

#resource-wrapper {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 675px;
  width: 75vw;
  padding: 20px;
  border: 5px solid #736372;
  background-color: rgb(250, 250, 250, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

#documents,
#online-resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#doc-wrapper,
#link-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: auto;
}

.docs,
.resource-links {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.resource-link {
  font-family: itim;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
  color: #153243;
  margin: 0;
}

.resource-link:hover {
  color: #736372;
}

.resource-link > p {
  margin: 15px 0 15px 0;
}

/* ---- ---- ---- ---- */

@media (max-width: 1300px) {
  .mobile-break {
    position: fixed;
    z-index: 10;
  }

  /* ---- Home Page ---- */

  #home {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  #home-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
  }

  #home-img-wrapper {
    height: auto;
    margin: 20px 0 10px 0;
  }

  #home-text {
    width: 80vw;
    height: 100%;
    max-height: 1500px;
    padding: 25px;
    border: 5px solid #736372;
    background-color: rgb(250, 250, 250, 0.5);
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: justify;
  }

  /* ---- Gallery ---- */

  #photo-tour {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .carousel-scroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-width: 640px;
    height: auto;
  }

  .horizontal-scroll {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }

  .photo-carousel-container {
    height: 100%;
    max-height: 2500px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .display-photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  /* ---- Home ---- */

  #home,
  #photo-tour,
  #handbook,
  #resources {
    height: Calc(100vh - 115px);
  }

  #home-img-wrapper {
    height: auto;
    margin: 50px 0 50px 0;
  }

  /* ---- Handbook ---- */

  #handbook {
    width: 100vw;
  }

  #handbook-text-wrapper {
    min-width: 300px;
    margin: 20px 0 0 0;
  }

  /* ---- Nav Bar ---- */

  #main-links {
    display: none;
  }

  #nav-bar {
    position: relative;
    height: 60px;
    z-index: 5;
  }
  

  #nav-bar-img-wrapper {
    height: 30px;
    width: 30px;
    margin-left: 20px;
  }

  #nav-drop-down {
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #dceed1;
    padding-top: 30px;
    width: 125px;
    height: 300px;
    transition: all 0.5s ease;
  }

  .nav-drop-down-inactive {
    position: absolute;
    left: -125px;
    top: 60px;
  }

  .nav-drop-down-active {
    position: absolute;
    left: 0;
    top: 60px;
  }

  #drop-down-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    z-index: 1;
  }

  .button-bar {
    width: 100%;
    height: 5px;
    background-color: #736372;
    border-radius: 5px;
  }

  .link,
  .clicked-link {
    font-size: 1.5rem;
    z-index: 0;
  }

  /* ---- Gallery ---- */

  .thumb-wrapper {
    width: 75px;
    height: 75px;
  }

  /* ---- Resources ---- */

  #resources {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }


  #resource-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92%;
    max-height: 2000px;
    margin-bottom: 20px;
    width: 75vw;
    padding: 20px;
    border: 5px solid #736372;
    background-color: rgb(250, 250, 250, 0.5);
    overflow: hidden;
  }

  #documents,
  #online-resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #doc-wrapper,
  #link-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .docs,
  .resource-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  /* ---- Footer ---- */

  #footer {
    height: Calc(100vh - 120px);
  }

  .page-break-vertical {
    display: none;
  }

  .footer-docked {
    bottom: Calc(-100vh + 180px);
  }

  #apply-button {
    margin: 0 20px 0 0;
  }

  .footer-text {
    margin-left: 5px;
    margin-top: 0px;
    transition: all 0.5s ease;
    font-size: 1rem;
  }

  .full-opacity {
    opacity: 1;
  }

  .footer-title {
    font-size: 1.25rem;
    margin: -10px 0 0 0;
    padding: 0;
  }

  #footer-form {
    margin-top: 5px;
    align-items: center;
    flex-direction: column-reverse;
  }

  #form-left,
  #form-right {
    width: 90%;
  }
  
  textarea, #form-right{
    height: 50%;
  }
}

